<h1>Clowns#new</h1>
<p>Find me in app/views/clowns/new.html.erb</p>
<!-- 
<form action="/clowns" method="POST">
    <input type="text" placeholder="enter name" name="name" />
    <input type="submit" value="submit" />
</form>

<%=form_tag '/clowns' do%>
<%=text_field_tag :"clown[name]"%>
<%=number_field_tag :"clown[age]"%>
<%= submit_tag "submit"%>
<%end%> -->

<%if flash[:messages]%>
<h2><%=flash[:messages]%></h2>
<%end%>

<%=form_for @clown do |f|%>
<%=f.text_field :name%>
<%=f.number_field :age%>
<%=f.collection_check_boxes :carnivals, @carnivals, :id, :name%>
<%=f.submit :submit%>
<%end%>


<!-- 1nd argument: method
- what method?
2nd argument: collection
- what is a collection and where do we get it from?
3rd argument: value_method
- what the hell is a value method?
4th argument: text_method
- wtf? -->